<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>TDMNS Company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert = "fragments :: header"></div>
<div th:each="iterator : ${url}">
    <img th:src="${iterator.enteredURL}" class="img">
</div>
<div>
    <img src="https://images.wallpaperscraft.ru/image/buket_tsvety_belyj_195229_3840x2160.jpg" alt="Flowers" class="img">
    <img src="https://images.wallpaperscraft.ru/image/chashka_zefir_koritsa_195228_3840x2160.jpg" alt="Coffee" class="img">
    <img src="https://images.wallpaperscraft.ru/image/kojot_zhivotnoe_seryj_195223_3840x2160.jpg" alt="Wolf" class="img">
    <img src="https://images.wallpaperscraft.ru/image/steklo_kapli_makro_195219_3840x2160.jpg" alt="Rain" class="img">
    <img src="https://images.wallpaperscraft.ru/image/avtomobil_pliazh_vid_sverhu_195214_3840x2160.jpg" alt="Tree" class="img">
</div>
</body>
</html>