<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>TDMNS Company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert = "fragments :: header"></div>
<form action="/image/add" method="post">
<div>
        <h3>
            <input type="text" name="enteredURL" placeholder="Enter your URL on IMG">
            <button type="submit">Add image</button>
        </h3>
</div>
</form>
</body>
</html>