<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>TDMNS Company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert = "fragments :: header"></div>
<div class="container">
        <img src="https://www.rosphoto.com/images/u/articles/1510/4_8.jpg" alt="Mountain" style="
          display: block;
          max-width:720px;
          max-height:720px;
          width: 60%;
          height: auto;" class="scale">
        <span>
            <p> Innovation is here </p>
        </span>
</div>
<div>
    <br/>
    <h> We make beautiful 4K images </h>
</div>
</body>
</html>